<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City Updated</title>
</head>
<body>
<h1>Hello,</h1>
    <p>City updated. Updated info of city is below:</p>
    <ul>
        <li><b>Name:</b> <span th:text="${name}">[Name]</span></li>
        <li><b>Code:</b> <span th:text="${code}">[Code]</span></li>
        <li><b>Country:</b> <span th:text="${country}">[Country]</span></li>
        <li><b>Status:</b> <span th:text="${status}">[Status]</span></li>
        <li><b>Updated Date:</b> <span th:text="${updatedDate}">[UpdatedDate]</span></li>
    </ul>
    <p>Kind regards</p>
</body>
</html>
